@model HELMA20250404.AppMVCCore.Models.Nota

@{
    ViewData["Title"] = "Crear nueva nota";
}
<style>
    body {
        background-color: gainsboro;
    }

    h1 {
        color: blue;
    }
</style>

<h1>Crear nota</h1>

<h4>Por favor ingrese la información en cada campo correspondiente</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <<form asp-action="Create">
        <div class="form-group">
            <label asp-for="IdMatricula" class="control-label">Alumno</label>
            <select asp-for="IdMatricula" class="form-control" asp-items="@(ViewData["IdMatricula"] as SelectList)">
                <option value="">Seleccione un alumno</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="IdAula" class="control-label">Aula</label>
            <select asp-for="IdAula" class="form-control" asp-items="@(ViewData["IdAula"] as SelectList)">
                <option value="">Seleccione un aula</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="IdMateria" class="control-label">Materia</label>
            <select asp-for="IdMateria" class="form-control" asp-items="@(ViewData["IdMateria"] as SelectList)">
                <option value="">Seleccione una materia</option>
            </select>
        </div>


        <div class="form-group">
            <label asp-for="Trimestre1" class="control-label"></label>
            <input asp-for="Trimestre1" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Trimestre2" class="control-label"></label>
            <input asp-for="Trimestre2" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Trimestre3" class="control-label"></label>
            <input asp-for="Trimestre3" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Promedio" class="control-label"></label>
            <input asp-for="Promedio" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Estado" class="control-label"></label>
            <input asp-for="Estado" class="form-control" />
        </div>
    </form>
    <div class="row mt-3">
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-info">Cancelar</a>
        </div>
    </div>

</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}