@model HELMA20250404.AppMVCCore.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Profesore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Create" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="Rol" type="hidden" value="PROFESOR" />
			<div class="row">
				<div class="form-group">
					<label asp-for="Profesore.Apellido" class="control-label"></label>
					<input asp-for="Profesore.Apellido" class="form-control" />
					<span asp-validation-for="Profesore.Apellido" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label asp-for="Profesore.Telefono" class="control-label"></label>
					<input asp-for="Profesore.Telefono" class="form-control" />
					<span asp-validation-for="Profesore.Telefono" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Profesore.Dui" class="control-label"></label>
					<input asp-for="Profesore.Dui" class="form-control" />
					<span asp-validation-for="Profesore.Dui" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Profesore.Direccion" class="control-label"></label>
					<input asp-for="Profesore.Direccion" class="form-control" />
					<span asp-validation-for="Profesore.Direccion" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Profesore.FechaNacimiento" class="control-label"></label>
					<input asp-for="Profesore.FechaNacimiento" class="form-control" />
					<span asp-validation-for="Profesore.FechaNacimiento" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label asp-for="NombreUsuario" class="control-label"></label>
					<input asp-for="NombreUsuario" class="form-control" />
					<span asp-validation-for="NombreUsuario" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Email" class="control-label"></label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label asp-for="Password" class="control-label"></label>
					<input asp-for="Password" class="form-control" />

					<span asp-validation-for="Password" class="text-danger"></span>
				</div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
